@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&family=Poppins:wght@300;400;600&display=swap");

/* Poppins 300 400 600 */

:root {
  --dark-blue: #4d4f62;
  --cyan: #44d3d2;
  --red: #ea5454;
  --yellow: #fcae4a;
  --blue: #549ef2;
  --almost-white: #f2f2f2;
  --white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--almost-white);
}

.h2-1 {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.17 px;
  font-weight: 300;
  color: var(--dark-blue);
  margin: 85px 35px 1px 35px;
  text-align: center;
}

.h2-2 {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.17 px;
  font-weight: 600;
  color: var(--dark-blue);
  text-align: center;
}

header p {
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.1px;
  font-weight: 400;
  color: var(--dark-blue);
  text-align: center;
  margin: 13px 32px 76px 32px;
}

.card {
  margin: 0 auto;
  margin-bottom: 23px;
  width: 311px;
  height: 222px;
  border-radius: 8px;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
  background: var(--white);
  position: relative;
}

.red {
  border-top: 3.5px solid var(--red);
  width: 311px;
}

.cyan {
  border-top: 3.5px solid var(--cyan);
}

.yellow {
  border-top: 3.5px solid var(--yellow);
}

.blue {
  border-top: 3.5px solid var(--blue);
  margin-bottom: 78px;
}
.card h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: var(--dark-blue);
  margin: 23.5px 0px 1px 28px;
}

.card p {
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.09 px;
  font-weight: 400;
  color: var(--dark-blue);
  margin: 0px 28px 33px 29px;
  opacity: 0.5;
}

.card img {
  position: absolute;
  left: 70%;
}

@media screen and (min-width: 1240px) {
  .h2-1,
  .h2-2 {
    font-size: 32px;
    line-height: 54px;
    letter-spacing: 0.25px;
  }
  header p {
    margin: 13px 450px 68px 450px;
  }
  .wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .blue,
  .cyan {
    margin-bottom: 0px;
  }
  .cyan {
    margin-left: 165px;
  }
  .blue {
    margin-right: 165px;
  }
  .red {
    margin-bottom: 30px;
  }
}
